# ---- .NET ignores ----
bin/
obj/
*.user
*.suo
*.cache/
*.pdb
*.mdb
*.dbmdl
*.jfm
*.ncrunchsolution
*.ncrunchproject
_ReSharper*/
*.DotSettings.user

# ---- Node / React ignores ----
node_modules/
dist/
npm-debug.log
yarn-debug.log
yarn-error.log

# ---- General ----
.env
*.log
.DS_Store
Thumbs.db
